.portfolio {

  .section-descr-wrap .section-descr::after {
    background-color: $clr_white;
  }
}

.filter-div {
  ul {
    @include lstn;
    margin: 0 0 30px 0;
    text-align: center;
  }
  li {
    text-align: center;
    display: inline-block;
    margin: 5px;
    text-transform: uppercase;
    font-size: 12px;
    cursor: pointer;
    line-height: 1.4;
    color: $clr_white;
    background: $clr_btn;
    letter-spacing: 2px;
    padding: 5px 10px;
    border-radius: 2px;
    &.active {
      color: $clr_btn;
      background: $clr_white;
    }
  }
}

.portfolio-item {
  padding: 15px;
  display: none;
  .item-container {
    @include tran;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 30px;
    width: 100%;
    min-height: 50vw;
    background-color: $dark_mask;
    opacity: 0;
    &:hover, &.active {
      opacity: 1;
      padding-top: 0;
    }
    h3 {
      color: $clr_white;
      margin-bottom: 0;
    }
    a {
      @include tran;
      display: inline-block;
      padding: 5px 20px;
    }
  }
}

.tags-list {
  text-align: center;
  margin: 15px 0;
  padding: 0 10px;
  .tag {
    display: inline-block;
    padding: 5px 10px;
    margin: 5px;
    color: $clr-btn;
    background: $clr_light;
  }
}

.portfolio-item_inner {
  box-shadow: 0 0 50px rgba(0, 0, 0, .6) inset;
}

.item-header {
  position: relative;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 5px;
  height: 25px;
  background: rgba(221, 221, 221, .9);
  span {
    height: 12px;
    width: 12px;
    display: inline-block;
    background-color: $clr_danger;
    border-radius: 50%;
    margin-right: 5px;
    &:nth-child(2) {
      background-color: $clr_orange;
    }
    &:nth-child(3) {
      background-color: $clr_success;
    }
  }
}

.item-header_text {
  width: 100%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  color: $clr_main;
}

.fancybox-slide {
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%) !important;
}

.modal-box {
  margin-top: 15px;
  display: none;
  padding: 0;
  background-color: transparent;
}

.modal-box_image {
  text-align: center;
}

.modal-box-content {
  background: $clr_light;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.project-descr {
  max-width: 90vw;
  margin: auto;
  h3 {
    margin: 15px 0 0;
    text-align: center;
    text-transform: uppercase;
    font-weight: 600;
  }
  .project-date {
    color: $clr_btn;
    font-size: 12px;
    display: block;
    margin-bottom: 15px;
  }
  p {
    padding: 0 15px;
    margin-bottom: 15px;
  }
  img {
    width: auto;
    max-height: 65vh;
  }
  a {
    margin: 15px 0;
    max-width: 320px;
    padding-left: 30px;
    padding-right: 30px;
  }
}

.fancybox-close-small {
  width: 25px;
  height: 25px;
  &:after {
    width: 15px;
    height: 15px;
    font: 15px/16px Arial,Helvetica Neue,Helvetica,sans-serif;
    color: #888;
  }
}

@media only screen and (min-width: 768px) {

  .portfolio-item .item-container {
    min-height: 180px;
  }

}

@media only screen and (min-width: 992px) {

  .portfolio-item .item-container {
    min-height: 250px;
  }

}

@media only screen and (min-width: 1200px) {

  .portfolio-item .item-container {
    min-height: 320px;
  }

}

@media only screen and (max-width: 767px) {

  .project-descr {
    img {
      max-width: 100vw;
    }
  }
}

@media only screen and (max-width: 480px) {
  .item-header_text {
    margin-left: -10px;
    text-align: right;
  }
}

